<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Allow network access for Google Sign-In and other network operations -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcherrrr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherrrr"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreelanceFlowAndroid">
        <activity
            android:name=".RoleChoice"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPassActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardClient"
            android:exported="false" />
        <activity
            android:name=".RegisterClientActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterFreelancerActivity"
            android:exported="false" />
        <activity
            android:name=".congratulationAct"
            android:exported="false" />

        <activity
            android:name=".clientDetail"
            android:exported="false" />
        <activity
            android:name=".freelancerDetail"
            android:exported="false" />
        <activity
            android:name=".CrashActivity"
            android:exported="true"
            android:label="Crash" />
        <activity
            android:name=".freelancerOrTeam"
            android:exported="false" />
        <activity
            android:name=".TeamLogin"
            android:exported="false" />
        <activity
            android:name=".DashboardFreelancer"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardTeam"
            android:exported="false" />


    </application>

</manifest>
